<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{title}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    label(style="margin-right:10px;" v-if="file_bank_chosen") Файл от (Банк) выбран
                    label(style="margin-right:10px;" v-else) Добавить файл (Банк)
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="teal darken-1") mdi-file-image-plus-outline
                        template(v-slot:default="dialog")
                            v-card
                                v-toolbar(color="teal darken-1" dark)
                                    span Добавить файл от Банк
                                v-card-text
                                    div.text-h5.pa-12
                                        form(@submit.prevent="setChosenBank")
                                            div.form-group
                                                div.d-flex.justify-space-between.imgWrapper
                                                    label.imgLabel() Выберите файл от Банк
                                                        input(style="display:none" type="file" accept=".xlsx, .xls, .csv" ref="file3" @change="handleFileObjectBank()")
                                                    span.imgName {{form_file_bank.name}}
                                            v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Добавить
                                v-card-actions.justify-end
                                    v-btn(@click="dialog.value = false" text) Закрыть 
                    v-spacer 
                    v-spacer
                    label(style="margin-right:10px;" v-if="file_sgg_chosen") Файл от (Smartgas) выбран
                    label(style="margin-right:10px;" v-else) Добавить файл (Smartgas)
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="teal darken-1") mdi-file-image-plus-outline
                        template(v-slot:default="dialog")
                            v-card
                                v-toolbar(color="teal darken-1" dark)
                                    span Добавить файл от Smartgas
                                v-card-text
                                    div.text-h5.pa-12
                                        form(@submit.prevent="setChosenSgg")
                                            div.form-group
                                                div.d-flex.justify-space-between.imgWrapper
                                                    label.imgLabel() Выберите файл от Smartgas
                                                        input(style="display:none" type="file" accept=".xlsx, .xls, .csv" ref="file2" @change="handleFileObjectSgg()")
                                                    span.imgName {{form_file_sgg.name}}
                                            v-btn.mt-2.titleColor(type="submit" outlined @click="dialog.value = false") Добавить
                                v-card-actions.justify-end
                                    v-btn(@click="dialog.value = false" text) Закрыть    
                    v-spacer
                v-divider.ml-4.mt-6.mb-1.titleColor
                div.ml-4.mt-6.d-flex.align-center
                    div
                        label.imgLabel(style="width:270px;") Напишите почту
                        v-text-field.mr-4(type="text" ref="file3" v-model="mail_adrs" :disabled='mail_adrs_enabled' style="width:250px;")
                    div
                        label.ml-16.imgLabel(style="width:270px;") Почта по умолчанию
                        v-checkbox.ml-15(ref="file4" type="checkbox" @change="setMailDefault()")
                v-divider.ml-4.mt-6.mb-1.titleColor
                v-btn.mt-7.ml-4.titleColor(@click="submitAllFiles()" outlined) Получить сверку
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    export default {
        middleware: ['auth'],
        props: [
            'title',
            'endpoint',
        ],
        data: () => ({ 
            loadingDialog: false,
            typeError: '',
            successType: true,
            form_file_bank: {
                id: '',
                file: null,
                name: '',
            },
            form_file_sgg: {
                id: '',
                file: null,
                name: '',
            },
            mail_adrs: '',
            mail_adrs_enabled: false,
            mail_default: false,
            file_bank_chosen: false,
            file_sgg_chosen: false,
        }),
        methods: {
            setMailDefault(){
                this.mail_default = !this.mail_default
                this.mail_adrs_enabled = !this.mail_adrs_enabled
            },
            setChosenBank(){
                this.file_bank_chosen = true
            },
            setChosenSgg(){
                this.file_sgg_chosen = true
            },
            handleFileObjectBank() {
                this.form_file_bank.name = ''
                this.form_file_bank.file = null
                this.form_file_bank.file = this.$refs.file3.files[0]
                if(this.$refs.file3.files[0] != undefined){
                    this.form_file_bank.name = this.$refs.file3.files[0].name
                }else{
                    this.form_file_bank.name = 'Файл не выбран'
                }
                this.$refs.file3.value = '' // this line added 14.12.2022 to fix bug with img choosing (user cannot choose one img twice in a row, to fix that, this line was added)
            },
            handleFileObjectSgg() {
                this.form_file_sgg.name = ''
                this.form_file_sgg.file = null
                this.form_file_sgg.file = this.$refs.file2.files[0]
                if(this.$refs.file2.files[0] != undefined){
                    this.form_file_sgg.name = this.$refs.file2.files[0].name
                }else{
                    this.form_file_sgg.name = 'Файл не выбран'
                }
                this.$refs.file2.value = '' // this line added 14.12.2022 to fix bug with img choosing (user cannot choose one img twice in a row, to fix that, this line was added)
            },
            async submitAllFiles(){
                this.loadingDialog = true

                let formData = new FormData();

                formData.append('fileBank', this.form_file_bank.file);
                formData.append('idBank', this.form_file_bank.id);
                formData.append('nameBank', this.form_file_bank.name);

                formData.append('fileSgg', this.form_file_sgg.file);
                formData.append('idSgg', this.form_file_sgg.id);
                formData.append('nameSgg', this.form_file_sgg.name);

                formData.append('mailAdrs', this.mail_adrs);
                formData.append('mailDefault', this.mail_default);

                await this.$axios.$post(`/${this.endpoint}/revise-bank-files`, formData, {
                        'Content-Type': 'multipart/form-data'
                    }).then(response => {
                        this.file_sgg_chosen = false
                        this.file_bank_chosen = false
                        this.clearForms()
                    }).catch(err => {
                        console.log(err, 'error')
                        this.file_sgg_chosen = false
                        this.file_bank_chosen = false
                        this.clearForms()
                    })
            },
            clearForms() {
                this.form_file_bank = {
                    id: '',
                    file: '',
                    name: '',
                },
                this.form_file_sgg = {
                    id: '',
                    file: '',
                    name: '',
                }
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .titleColorSub{
        color:rgba(0, 0, 0, 0.5);
        font-size:13px;
    }
    .textWhite{
        color:rgba(0, 0, 0, 0.6);
        font-size: 11px;
    }
    .textWhitePage{
        color:rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .centerItems{
        text-align:center;
        width:68px;
        word-wrap:break-word;
    }
    .blueColor{
        color:#2196F3 !important;
    }
    .smallSuccess{
        color:green;
        font-size:12px;
    }
    .smallError{
        color:red;
        font-size:12px;
    }
</style>