<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      color="teal darken-1"
      dark
      v-if="authenticated"
    >
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-icon dark>
              mdi-account-circle
            </v-icon>
          </v-list-item-avatar>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title">
              <template v-if="!authenticated">
                Гость
              </template>
              <template v-else>
                {{user.data.name}}
              </template>
            </v-list-item-title>
            <v-list-item-subtitle>
              <template v-if="!authenticated">
                guest@gmail.com
              </template>
              <template v-else>
                {{user.data.email}}
              </template>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list
        nav
        dense
      >
        <v-list-item link to="/revise" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-folder
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Сверка
          </v-list-item-title>
        </v-list-item>
      </v-list>

      <v-list
        nav
        dense
      >
        <v-list-item link to="/reviseAzs" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-folder
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Сверка Азс
          </v-list-item-title>
        </v-list-item>
      </v-list>

      <v-list
        nav
        dense
      >
        <v-list-item link to="/reviseBank" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-folder
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Сверка Банк
          </v-list-item-title>
        </v-list-item>
      </v-list>

    </v-navigation-drawer>

    <v-app-bar 
      app
      color="teal darken-1"
      dark
    >
      <v-app-bar-nav-icon @click="drawer = !drawer" v-if="authenticated"></v-app-bar-nav-icon>

      <v-toolbar-title class="mainTitle">
        <nuxt-link to="/" class="linkStyleWhite">Сверка для заказов SGG LTD</nuxt-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <div v-if="!authenticated" class="hidden-sm-and-down">
        <div class="justify-space-between p-2">
          <v-btn
            v-for="(item, index) in nav"
            :key="index"
            :to="item.route"
            color="teal darken-1"
            dark
            class="m-1 linkStyle"
          >
            {{ item.text }}
          </v-btn>
        </div>
      </div>
      <div v-else>
        <div class="justify-space-between p-2">
          <v-btn 
            @click="logout"
            color="teal darken-1"
            dark
            class="m-1 linkStyle"
          >
            Выйти
          </v-btn>
        </div>
      </div>
      
    </v-app-bar>

    <v-main>    
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
import {mapGetters, mapActions} from "vuex"
  export default {
    components: {
    },
    data: () => ({ 
      drawer: null,
      nav: [
        {
          text: 'Войти',
          route: '/login',
        },
        {
          text: 'Регистрация',
          route: '/register',
        },
      ],
    }),
    computed: {
      ...mapGetters('Auth', [
          'authenticated',
          'user',
      ]),
      ...mapGetters('validation', [
          'errors',
      ]),
    },
    methods: {
      logout(){
        this.$auth.logout()
        this.$router.push('/')
      }
    }
  }
</script>

<style scoped>
  .linkStyle{
    text-decoration: none;
  }
  .linkStyleWhite{
    text-decoration: none;
    color:white;
  }
  .mainTitle{
    font-size:18px;
  }
</style>