<template lang="pug">
  v-app(dark)
      .m-3.p-3
        v-alert.m-3.p-3.titleColor(elevation="2" outlined)
          h1(v-if="error.statusCode === 404")
            span {{ pageNotFound }}
          h1(v-else)
            span {{ otherError }}
          NuxtLink.linkColor(to="/")
            span Home page
</template>

<script>
import {mapGetters, mapActions} from "vuex"
export default {
  name: 'EmptyLayout',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  computed: {
      ...mapGetters('Auth', [
          'authenticated',
          'user',
      ]),
      ...mapGetters('validation', [
          'errors',
      ]),
    },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
.titleColor{
  color:rgba(0, 0, 0, 0.6);
}
.linkColor{
      color:#26A69A;    
  }
</style>
