<template lang="pug">
    .container.col-md-6.mt-5
         v-alert.m-3.p-3.titleColor(elevation="2" outlined)
            h2 Логин
            br
            form(@submit.prevent="submit")
                .form-group
                    label Имя пользователя
                    v-text-field.titleColor(v-model.trim="form.username" type="text" placeholder="Введите имя пользователя")
                    small.form-text.text-danger(v-if="errors.username") {{errors.username[0]}}
                .form-group
                    label Пароль
                    v-text-field.titleColor(v-model.trim="form.password" type="password" placeholder="Введите пароль")
                    small.form-text.text-danger(v-if="errors.password") {{errors.password[0]}}
                v-btn.mt-2.titleColor(type="submit" outlined) Войти
            br
            p Нет аккаунта?
                nuxt-link.linkColor(to="/register") Зарегистрироваться
</template>
<script>
import {mapGetters, mapActions} from "vuex"
export default {
    middleware: ['guest'],
    data() {
        return {
            form: {
                username: '',
                password: '',
            }
        }
    },
    computed: {
      ...mapGetters('Auth', [
          'authenticated',
          'user',
      ]),
      ...mapGetters('validation', [
          'errors',
      ]),
    },
    methods: {
        async submit() {
            await this.$auth.loginWith('laravelJWT', {
                data: this.form,
            }).then(response => {
                this.$auth.setUserToken(response.data.meta.token, true)
                this.$router.push('/')
            }).catch(err => {
                console.log(err);
            });
        }
    }
}
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .linkColor{
        color:#26A69A;    
    }
</style>