<template lang='pug'>
    ReviseTableAzs(title='Сверка АЗС' endpoint='revise')
</template>
<script>
    import ReviseTableAzs from '@/components/revise/ReviseTableAzs';
    export default {
        middleware: ['auth'],
        components: {
            ReviseTableAzs,
        }
    }
</script>