<template lang='pug'>
    ReviseTable(title='Сверка' endpoint='revise')
</template>
<script>
    import ReviseTable from '@/components/revise/ReviseTable';
    export default {
        middleware: ['auth'],
        components: {
            ReviseTable,
        }
    }
</script>