<template lang='pug'>
    ReviseTableBank(title='Сверка Банк' endpoint='revise')
</template>
<script>
    import ReviseTableBank from '@/components/revise/ReviseTableBank';
    export default {
        middleware: ['auth'],
        components: {
            ReviseTableBank,
        }
    }
</script>